<div>
    <button id="btn-login">Login</button>
    <button id="btn-logout">Logout</button>
    <button id="btn-add-user">Add user</button>
</div>

<script type="text/javascript">

    $("#btn-login").click(function () {
        var dataToSend = { Username: 'vpupkin', Password: 'password0' };

        $.ajax({
            url: '/api/account/login',
            type: 'POST',
            data: dataToSend,
            success: function (res) {
            }
        });
    });

    $("#btn-logout").click(function () {

        console.info(document.cookie);

        $.ajax({
            url: '/api/account/logOff',
            type: 'POST',
            success: function (res) {
            }
        });

        console.info(document.cookie);
    });

    $("#btn-add-user").click(function () {
        var newUser = {
            "Username": "ivan85", "PasswordPlainText": "password",
            "Email": "ivan@vanya.com", "Avatar": []
        };

        $.ajax({
            url: '/api/account/add',
            dataType: "json",
            data: newUser,
            type: 'POST',
            success: function (res) {
            }
        });
    });
</script>